@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: #f4ebbe;
}

.header-title {
  font-family: "Nunito Sans";
  color: #ddc67b;
  font-size: 32px;
}
